<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.httphelplib">


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application>

        <!--

        在Android项目中的AndroidManifest中provider的authorities
        相当于一个系统级的全局变量它的值必须唯一，如果有两个应用的authorities相同会导致安装失败。

         -->
        <provider
            android:name=".log.internal.utils.CaptureContext"
            android:authorities="com.example.httphelplib.fileprovider.${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/http_helper_file_paths" />
        </provider>


        <activity
            android:name=".log.internal.ui.CaptureInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.squareup.leakcanary.${applicationId}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity-alias
            android:name="CaptureInfoActivity"
            android:label="抓包入口"
            android:targetActivity=".log.internal.ui.CaptureInfoActivity"
            android:taskAffinity="com.squareup.leakcanary.${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!--        -->
        <!--        -->
        <!--        -->
        <activity
            android:name=".host.HostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.squareup.leakcanary2.${applicationId}"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity-alias
            android:name="HostActivity"
            android:label="配置域名入口"
            android:targetActivity=".host.HostActivity"
            android:taskAffinity="com.squareup.leakcanary2.${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".host.ScanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
